.App {
  text-align: center;
  width: 50%;
  /* border: 1px solid black; */
  margin: 20px auto;
}
.App input{
  width: 60%;
  height: 30px;
  border: none;
  border-bottom: 1px solid greenyellow;
  outline: none;
  font-size: large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bt button{
  justify-content: space-between;
  
}
button{
  width: 70px;
  height: 30px;
  border: none;
  background-color: rgb(196, 245, 245);
  margin: 10px;
  color: rgb(50, 50, 241);
  font-weight: bold;
  border-radius: 10px;
}